@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Ubuntu sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #18294f;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding-bottom: 5px;
  color: #fff;
}

header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: .3em 0 .5em;
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  text-decoration: none;
  color: #6c8fe0;
  padding: .5em .75em;
  white-space: nowrap;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  ul li {
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  ul li {
    width: 25%;
  }

  li a {
    padding: .3em 0 .5em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3em 0 .5em;
  }

  nav {
    display: inline-block;
    width: 60%;
  }

  header h1 {
    padding: 0;
    margin-left: .9rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
